<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403450342340-61fmo74fnkq1dp10blbd5ii9ifrcco4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403450342340-61fmo74fnkq1dp10blbd5ii9ifrcco4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCmBRg3KF1bnQ5q5q7KCjWXwpuchAWR51A</string>
	<key>GCM_SENDER_ID</key>
	<string>403450342340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tn.radhimighri.TwitterApp-SwiftUI-3</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-8ad52</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-8ad52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403450342340:ios:1482561207fd7b8c835291</string>
</dict>
</plist>